/* container */

.formDiv {
  margin-left: 24px;
  width: 376px;
  margin-top: 90px;
}

/* user inputs */

label {
  font-family: 'Merriweather-Regular', sans-serif;
  font-size: 12px;
  color: #666666;
}

.inputField {
  background-color: #F7F7F7;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  color: #666666;
}

.inputField:focus {
  background-color: #ffffff;
}

/* button */

.nextButton {
  background-color: #FFAB44;
  border-radius: 6px;
  color: #FFFF;
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 16px;
  padding: 13px 24px 13px 24px;
  margin-top: 33px;
}

/* .nextButton:disabled {
  background-color:rgb(245, 187, 116)
} */

/* error message */

.requiredField {
  float: right;
  margin-left: 2px;
  color: #E70000;
  font-family: "Merriweather-Regular", sans-serif;
}

/* media queries for mobile */

@media only screen and (min-width:321px) and (max-width:580px) {
  .formDiv {
    margin-top: 32px;
    padding-left: 10px;
  }

  .inputField {
    width: 91%;
  }

  .nextButton {
    width: 91%;
  }
}