/* container */

.wrapper {
  margin: 0;
  padding: 0;
}

/* logo */

.logo {
  width: 177px;
  height: 26px;
}

/* welcome header */

.welcomeColumn {
  background-color: #585858;
  height: 100vh;
  color: #ffff;
}

.welcomeHeader {
  padding-top: 32px;
  float: right;
  padding-right: 44%;
}

h1.welcomeHeader {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 32px;
}

p.welcomeHeader {
  font-family: 'Merriweather', sans-serif;
  font-size: 14px;
}

/* media queries for mobile */

@media only screen and (min-width:321px) and (max-width:580px) {
  .welcomeColumn {
    height: 100%;
    width: 100%;
    padding-bottom: 32px;
  }

  .welcomeHeader {
    padding-top: 32px;
    padding-left: 20px;
  }
}